* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style: none;
}

ol {
  padding: 20px;
}

.header,
.bgC_bleux {
  background-color: rgb(143, 229, 229);
}

.titre-banner,
.couleur {
  color: blue;
}

.titre-banner,
.position {
  display: block;
  text-align: center;
}

.conteneur-menu-pricipale {
  display: block;
  border: solid 2px rgb(8, 65, 235);
}

/* mise enforme div.demonstration */

.demonstration {
  background-color: rgba(31, 97, 75, 0.382);
  border: solid 2px rgba(82, 255, 47, 0.774);
}

p {
  margin: 5px 5px 15px 5px;
}

/* mise enforme p.conseille dans les article*/
.conseille {
  background-color: rgba(220, 248, 5, 0.579);
  padding: 5px;
  border: solid yellow 2px;
  border-radius: 5px;
  margin: 10px;
}

.rapele {
  background-color: rgba(43, 114, 114, 0.579);
  border: solid rgb(0, 68, 255) 2px;
}

/*bloc modifer pour rendre vible au clik ou survole*/
.cacher {
  background-color: blueviolet;
  display: none;
}

/* mise enforme genrique tablau */
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: center;
}

tfoot td {
  font-weight: bold;
}
/* fin tablau */

.footer,
.bgC_gris {
  background-color: rgb(151, 192, 192);
}
